html{ scroll-behavior: smooth;}
*{ margin: 0;padding: 0;box-sizing: border-box;font-family: 'Poppins', sans-serif; }
a{ text-decoration: none;}
a:hover{text-decoration: none;}
li{
    list-style: none;
}
p{
    font-size: 0.9rem;
    line-height: 1.6;
    font-weight: 400;
    color:rgba(109, 20, 20, 0.705) ;
}
.extra-div h2
{
    font-size: 0.9rem;
    margin:20px 0 15px 0;
    line-height: 1.6; 
    font-weight: 400;
    color:rgba(109, 20, 20, 0.705) ;
}
/********** actual css starts*************/
.header
{
    width: 100%;
    height:100vh ;
    background-image:linear-gradient(rgba(166, 255, 0, 0.287), rgba(208, 255, 0, 0.301)) ,url('../images/onlineeducation.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    clip-path: polygon(100% 0%,100% 77%,50% 100%, 0 75%,0 0);
    position: relative;
}
.header:before
{
    content:"";
    position: absolute;
    top: 0%;
    bottom: 0%;
    left: 0;
    right: 0;
    opacity: .4;
    z-index: -1;
    background: linear-gradient(to right,#82991e 0%,#94af4b 0%,#e2d744 100%);
}
.navbar:before
{
    content:"";
    position: absolute;
    top: 0%;
    bottom: 0%;
    left: 0;
    right: 0;
    opacity: .4;
    z-index: -1;
    background: linear-gradient(to right,#82991e 0%,#94af4b 0%,#e2d744 100%); 
}
.nav-item a{
color: #fff!important;
font-weight: bold;
}
.header-section{
    
    width:100% ;
    height:inherit ;
    color:white ;
    text-align: center;
    position: relative;
    
}
.nav-item a:hover{
    color: rgba(66, 77, 67, 0.295);
        background: rgba(216, 218, 206, 0.411);
        text-decoration: none;
        box-shadow: 0 0 20px 0 rgba(37, 81, 92, 0.644);
}
.center-div
{

    width:100% ;
    height:auto ;
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
}
    .header-buttons a{
        border: 1px solid red;
        border-radius: 100px;
        margin: 0.5px;
        padding: 12px 35px;
        outline: none;
        color: royalblue;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.4;
        text-align: center;
    }
    .header-buttons a:hover{
        color: seagreen;
        background: rgba(216, 218, 206, 0.411);
        text-decoration: none;
        box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.404);

    }
    /******************* extra header div css start *********/
    .header-extradiv
    {
        width: 100%;height: auto;
        margin:medium none;
        text-align: center;
       
    }
    .extra-div
    {
        background: #fff;
        border:medium none;
        padding:50px!important;
        border-radius: 3px;
        transition: 0.3s;
    }
    .extra-div:hover
        {
           box-shadow:0 0 20px 0 rgba(0, 0, 0, 0.303);
       transform: translateY(-27px);
        }
   
    /******************* extra header div css end *********/
   
    /******************* service offer css start *********/

    .serviceoffers
    {
        background: #c5771e91;
        padding: 50px 0;
        margin-bottom: 50px;
    }
.heading
{
    margin-bottom:50px ;
}
.heading h1
{
    font: size 1.5rem;
    font-weight: 600;
    text-transform: uppercase;
}
.names h1
{
    color:#2e2e2e;
    font-size: 0.9rem;
    text-transform: uppercase;
    font-weight: bold;
}
.service-icons{
    display: flex;
    justify-content: center;
    align-items: center;
}
i{
    color:#2fccd0;
}

    /******************* service offer css end *********/


      /******************* contact us css startt *********/
.contactus{
    width:100% ;
    height: 100vh;
    padding:80px 0 ;
    position: relative;
}
.contactus:before{
   content: ""; 
   position: absolute;
   top: 0;
   left:0 ;
   right: 0;
   bottom: 0; 
background: linear-gradient(330deg, #16c9f6 55%,#fff 0%);
z-index:-1 ;
}
::placeholder{
    font-size:0.85rem ;
}


        /******************* contact us css end *********/





               /******************* footer starts *********/

.footersection{
    width:100%;
    height:auto;
    padding: 70px 0 20px;
    background: #c4b9259a;
    position: relative;
}

.footersection p
{
    color:#fff;
}
#myBtn
{
    display: none;
    position: fixed;
    bottom: 3px;
    right: 30px;
    z-index: 99;
    border: none;
    color: rgba(185, 27, 35, 0.74);
    background: rgba(139, 189, 139, 0.788);
    padding:10px ;
    border-radius: 10px;
}
#myBtn:hover
{
    background: rgba(216, 218, 206, 0.411);
}

                      /******************* footer ends *********/




                     
                       /********************* media queries start ************/
@media(max-width: 768px){
    .nav-item
    {
        text-align: center!important;
    }
}



                        /********************* media queries end ************/